[flake8]
count
show-source
statistics
exit-zero
max-complexity=10
max-line-length=100
exclude = .git,__pycache__,./task_manager/tasks/migrations/,./task_manager/statuses/migrations,./task_manager/labels/migrations