<!doctype html>
<!-- Bootstrap core CSS -->
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Task manager" %}{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <div class="row pb-5">
          <div class="col">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
              <a class="navbar-brand nav-link" href="/" >{% trans "Task manager" %}</a>
              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                      <a class="nav-link" href="/">{% trans "Users" %}</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                      <a class="nav-link" href="/">{% trans "Tasks" %}</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                      <a class="nav-link" href="/">{% trans "Tags" %}</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                      <a class="nav-link" href="/">{% trans "Log out" %}</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <div class="container-fluid text-center">
          <div class="p-3 mb-2 bg-dark text-white border border-primary float-none">
              {% block content %}{% endblock %}
          </div>
        </div>
      </main>
    </div>
  </body>
</html>

