<!doctype html>
<!-- Bootstrap core CSS -->
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}
<html lang="en">
  <div class="container wrapper flex-grow-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Task manager" %}{% endblock %}</title>
      {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      {% endif %}
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <div class="row pb-5">
          <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
              <a class="navbar-brand nav-link" href="/" >{% trans "Task manager" %}</a>
              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:list' %}">{% trans "Users" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tasks">{% trans "Tasks" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/labels">{% trans "Labels" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/statuses">{% trans "Statuses" %}</a>
                  </li>
                  <li class="nav-item justify-content-end">
                    <a class="nav-link" href="/logout">{% trans "logout" %}</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:list' %}">{% trans "Users" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/create">{% trans "Register" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">{% trans "Login" %}</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="container-fluid text-center">
          <div class="p-3 mb-2 border border-primary float-none">
            {% block page_header %}{% endblock page_header %}
          </div>
        </div> 
      </header>
      <main>
        <div class="container-fluid text-center">
          <div class="p-3 mb-2 border border-primary float-none">
              {% block content %}{% endblock %}
          </div>
        </div>
      </main>
    </div>
  </body>
</div>
</html>

