<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello page</title>
    <h1>Hello, {{ who }}!</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni labore est atque laborum quaerat ipsum expedita ullam voluptatibus obcaecati, assumenda rem blanditiis id perferendis vel? Ipsam vero sint provident. </p>
</head>
<body>
    
</body>
</html>