<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}Task manager{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row pb-5">
          <div class="col">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
              <a class="navbar-brand nav-link" href="#" >Task manager</a>
              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav navbar-left">
                      <li><a href="#">{{tags}}</a></li>
                </ul>
                <ul class="navbar-nav navbar-left">
                      <li><a href="#">{{users}}</a></li>
                </ul>
                <a class="nav-link navbar-right" href="#">{{logout}}</a>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main role="main" class="inner cover">
        <p class="lead">{% block content %}{% endblock %}</p>
      </main>
    </div>
  </body>
</html>
