{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
      <div class="card bg-white text-dark mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6"><div class="text-left"><a href="{% url 'status' taskstatus.id %}">{{ taskstatus.name }}</a></div></div>
                <div class="col-md-6"><div class="text-right"><a href="{% url 'status_update' taskstatus.id %}" class="badge badge-primary">{% trans "Edit" %}</a> <a href="{% url 'status_delete' taskstatus.id %}" class="badge badge-danger">{% trans "Delete" %}</a></div></div>
            </div>
        </div>
              
      </div>
{% endblock %}