{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block page_header %}
<h3 class="cover-heading">{% trans "Task statuses:" %}</h3>
{% endblock %}

{% block content %}
{% for task_status in statuses %}
<div class="card bg-white text-dark mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6"><div class="text-left"><a href="{% url 'status' task_status.id %}">{{ task_status.name }}</a></div></div>
      <div class="col-md-6"><div class="text-right"><a href="{% url 'status_update' task_status.id %}" class="badge badge-primary">{% trans "Edit" %}</a> <a href="{% url 'status_delete' task_status.id %}" class="badge badge-danger">{%trans "Delete" %}</a></div></div>
    </div>
  </div>
</div>
{% endfor %}
  <p class="card-text"><a href="{% url 'status_create'%}">{% trans "New status" %}</a></p>
  {% endblock %}