{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block page_header %}
  <h1>{{ task.name }}</h1>
{% endblock %}

{% block content %}
<div class="card bg-white text-dark mb-9">
  <div class="card-header">
    <div class="row">
      <div class="text-left"><b><a href="{% url 'task' task.id %}">{{ task.name }}</a></b> 
        <span class="badge badge-info">{{ task.status }}</span>
        {% for lable in task.lables.all %}
          <span class="badge badge-primary">{{lable}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text text-left">{%trans "From "%} {{ task.creator }} {%trans " to "%} {{ task.assigned_to }}</p>
    <p class="card-text text-left">{{task.creator.first_name}} {{task.creator.last_name}} {% trans " gave the task "%} {{task.assigned_to.first_name}} {{task.assigned_to.last_name}}</p>
    <p class="card-text">{{task.content}}</p>
    <p class="card-text text-right">{{task.created_at}}</p>
  </div>

  <div class="card-header">
    <div class="row">
      <div class="col-auto mr-auto"><span class="badge badge-info">
        {%trans "From "%} {{ task.creator }} {%trans " to "%} {{ task.assigned_to }}
      </span>
        <span class="badge badge-info">
        {%trans "Created at"%} {{ task.created_at }}
      </span>
    </div>
      <div class="col-auto"><a href="{% url 'task_update' task.id %}" class="badge badge-primary">{% trans "Edit" %}</a> 
           <a href="{% url 'task_delete' task.id %}" class="badge badge-danger">{% trans "Delete" %}</a></div>
    </div>
  </div>
</div>
{% endblock %}