{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block page_header %}
<h1 class="cover-heading">{% trans "Tasks list:" %}</h1>
{% endblock %}

{% block content %}
<div><a class="btn btn-outline-primary" href="/tasks/create" role="button">{% trans "Add new task" %}</a></div>
<divclass="mx-auto">  </div>
<div>
  <div>
    {% if tasks_list %}
    {% for task in tasks_list %}
    <div class="card bg-white text-dark mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6"><div class="text-left"><b><a href="{% url 'task' task.id %}">{{ task.name }}</a></b> 
            <span class="badge badge-info">{{ task.status }}</span></div></div>
          <div class="col-md-6"><div class="text-right"><a href="{% url 'task_update' task.id %}" class="badge badge-primary">{% trans "Edit" %}</a> 
            <a href="{% url 'task_delete' task.id %}" class="badge badge-danger">{% trans "Delete" %}</a></div></div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text text-left">{{task.content}}</p>
      </div>

      <div class="card-header">
        <div class="row">
          <div class="col-md-6"><div class="text-left"><span class="badge badge-info">
            From {{ task.creator }} to {{ task.assigned_to }}
          </span></div></div>
          
        </div>
      </div>

    </div>
  {% endfor %}
  {% else %}
    <p>{% trans "Have't any task."%}</p>
  {% endif %}  
  </div>
</div>
{% endblock %}