{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block page_header %}
<h1 class="cover-heading">{% trans "Tasks list:" %}</h1>
{% endblock %}

{% block content %}
<div><a class="btn btn-outline-primary" href="/tasks/create" role="button">{% trans "Add new task" %}</a></div>
<divclass="mx-auto">  </div>
<div>
  <div>
    {% if tasks_list %}
    {% for task in tasks_list %}
    <div class="card bg-white text-dark mb-9">
      <div class="card-header">
        <div class="row">
          <div class="col-auto mr-auto text-left"><b><a href="{% url 'task' task.id %}">{{ task.name }}</a></b> 
            <span class="badge badge-info">{{ task.status }}</span>
            {% for lable in task.lables.all %}
              <span class="badge badge-primary">{{lable}}</span>
            {% endfor %} </div>
          <div class="col-auto"><a href="{% url 'task_update' task.id %}" class="badge badge-primary">{% trans "Edit" %}</a> 
            <a href="{% url 'task_delete' task.id %}" class="badge badge-danger">{% trans "Delete" %}</a></div>
        </div>
      </div>

      <div class="card-body">
        <p class="card-text text-left">{{task.content}}</p>
      </div>

      <div class="card-header">
        <div class="row">
          <div><span class="badge badge-info">
            {%trans "From "%} {{ task.creator }} {%trans " to "%} {{ task.assigned_to }}
          </span>
            <span class="badge badge-info">
            {%trans "Created at"%} {{ task.created_at }}
          </span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
    <p>{% trans "Have't any task."%}</p>
  {% endif %}  
  </div>
</div>
{% endblock %}